body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("/images.css/McCurry-clean-water.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    height: 100%;
    text-decoration-color: yellowgreen;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

p {
    color: white;
    text-size-adjust: 50%;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

p {
    color: white;
    text-size-adjust: 50%;
}

.fa {
    color: blue;
    text-align: right;
    margin: 5px 2px;
}